<!--Search for documents template-->
{% extends 'root/base.html' %}
{% load static %}
{% block title %} Search Documents {% endblock %}

{% block maincontent %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
    h6{
        float:right;
        font-weight: normal;
        margin-right:25px;
    }
</style>

<!--Search page-->
<div class="container-fluid">
    <div class="mep-form_wrapper">
        <div class="d-flex justify-content-between">
            <h3>Search for Documents </h3>
        </div>
        <hr>

<!--Search form goes here-->
        <div class="card card-shadow-1">
            <div class="card-body">
                <div class="search-form">
                    <form method="POST" action="{% url 'eProc_Archiving:docsearch' %}">
                        {% csrf_token %}
                        <div class="row">
                            {{ sform.non_field_errors }}
                            {% for field in sform %}
                            <div id="{{ field.name }}" class="sfield" title="{{ field.label }}">
                                {{ field.errors }}
                                <div class="col-md">
                                    {{ field.label_tag }} {{ field }}
                                </div>
                            </div>

                            <!--From date and to date should be displayed in same line-->
                            {% if forloop.counter == 3 or forloop.counter == 5 or forloop.counter == 6 %}
                            {% else %}

                            <br />
                            {% endif %}
                            {% endfor %}
                        </div>
                <br>
        <div class="elements-space-between">
                <div>
                <button id="hg_doc_report_search" class="btn btn-primary" onclick="search_click()" type="submit" title="Please click to get the search details!">
                    <i class="fas fa-search"></i>Search
                </button>
            </div>
            <div>
                <span class="badge help-text-badge help-text-star-search"></span>
            </div>
        </div>
            </form>
        </div>
            </div></div>
        <br>

<!--Display no. of documents if count is greater than 0-->
{%if total_count > 0 %}
        <h6>Total number of results found :<b>{{total_number_results}}</b></h6>

<!--        <h2>{{ total_count }}</h2>-->


<!--Display the result-->
<div class="card mt-5">
    <table id="doc_list" class="table table_sort_filter_export_excel">
        <thead class="thead-light">
            <tr>
                <th scope="col">SC Number</th>
                <th scope="col">SC Name</th>
                <th scope="col">Total Value</th>
                <th scope="col">Currency</th>
                <th scope="col">Requester</th>
                <th scope="col">Status</th>
                <th scope="col">Created At</th>
                <th scope="col">Creator</th>
                <th scope="col">Changed At</th>
                <th scope="col">Changed By</th>
                <th scope="col">Ordered At</th>
                <th scope="col">Time Zone</th>
                <th scope="col">Supplier Id</th> <!-- Assuming supplier ID is common for all document types -->
            </tr>
        </thead>
        <tbody>
            {% for header_data in results %}
            <tr>
                <td><a href="{% url 'eProc_Archiving:doc_details' inp_doc_type header_data.guid  %}"
                        target="_blank">{{ header_data.doc_number }}</a></td>
                <td>{{header_data.description}}</td>
                <td>{{header_data.total_value}}</td>
                <td>{{header_data.currency}}</td>
                <td>{{header_data.requester}}</td>
                <td>{{header_data.status}}</td>
                <td>{{header_data.created_at}}</td>
                <td>{{header_data.created_by}}</td>
                <td>{{header_data.changed_at}}</td>
                <td>{{header_data.changed_by}}</td>
                <td>{{header_data.ordered_at}}</td>
                <td>{{header_data.time_zone}}</td>
                <td>{{header_data.supplier_id}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

    </div></div>
{% else %}
<div class="det_tbl_div search-div">
    {{ results }}
</div>
{% endif %}
<!--{% if total_count > 5 %}-->
<!--<div class="top"><a style="padding-right:30px;" href="#top"> Back to top </a></div>-->
{% endif %}


<div style="height:30px; font-size:12px; text-align:right; padding-right:10px;" >© 2022 Hiranya-Garbha Consultancy. All rights reserved.</div>

<!--Script to toggle supplier field in SC and PO-->
<script>

    function display_status(doc_type){
        if(doc_type == 'DOC01'){
            $("#sc_status_div").css("display", "block")
            $("#po_status_div").css("display", "none")
        }
        else if (doc_type == 'DOC02'){
            $("#po_status_div").css("display", "block")
            $("#sc_status_div").css("display", "none")
        }
    }
    docchanged("OBJ_01");
<!--    $("label[for='id_from_date']").text('From - To Date:');-->


//To show supplier field only for purchase order
function docchanged(value){
    var sup_field = document.getElementById("id_doc_type");
    if (sup_field.value == 'SC'){
        document.getElementById("supplier").value="";
        $('#supplier').hide();
    }
    else if (sup_field.value == 'PO' || sup_field.value == 'CONF'){
        document.getElementById("supplier").style.display="block";
    }
    if (sup_field.value == 'CONF'){
        document.getElementById("po_number").style.display="block";
    } else {
        document.getElementById("po_number").style.display="none";
    }
}

// To get attachments
function get_attach(path){
$.ajax({
    type: 'POST',
        url: 'attachments',
        data: {
        'file_path':path,
        'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val(),
        },
        success: function (data) {
            $("#attach_col").empty();
            $("#attach_col").html(data);
        }
      });
}

// To get PO preview
function get_pdf(path) {
    var new_div = document.createElement('div');
    new_div.id = 'hide_' + no_of_hide;
    no_of_hide += 1;

    // Clone the content using cloneNode
    new_div.appendChild(document.getElementById('popdf_col').cloneNode(true));

    document.getElementById('up-hide-div').appendChild(new_div);

    $.ajax({
        type: 'POST',
        url: 'attachments',
        data: {
            'file_path': path,
            'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val(),
        },
        success: function (data) {
            console.log("AJAX Success:", data);
            // Clear the previous content
            $("#popdf_col").empty();

            // Replace content with the received data
            $("#popdf_col").html(data);
        }
    });
}


// creating the backlink for PO preview
function up_hide_div(){
    if(no_of_hide>0){
        no_of_hide-=1;
        $("#popdf_col").empty();
        var remdiv=document.getElementById('hide_'+no_of_hide);
        document.getElementById('popdf_col').appendChild(remdiv);
    }
}

$('.expand').click(function () {
    $('ul', $(this).parent()).eq(0).toggle();
});

var mini = true;
function toggleSidebar() {

    if (mini) {
        document.getElementById('menu_icon').style.display = 'none';
        document.getElementById('arrow_left_icon').style.display = 'block';
        $('span').removeClass('hide_span').addClass('display_span');
        document.getElementById("mySidebar").style.width = "240px";
        document.getElementById("main").style.marginLeft = "240px";
        this.mini = false;
    } else {
        document.getElementById('arrow_left_icon').style.display = 'none';
        $('span').removeClass('display_span').addClass('hide_span');
        document.getElementById('test').style.display = 'none'
        document.getElementById("mySidebar").style.width = "80px";
        document.getElementById("main").style.marginLeft = "80px";
        document.getElementById('menu_icon').style.display = 'block';
        this.mini = true;
    }
}

var is_expanded = false;
function expandTree() {
    if (is_expanded) {
        document.getElementById('test').style.display = 'block'
        this.is_expanded = false
        this.mini = false;
    } else {
        document.getElementById('test').style.display = 'none'
        this.is_expanded = true
        this.mini = true;
    }
}

    $(document).ready( function() {
        nav_bar_archiving()
        table_sort_filter_export_excel()
        $("#created_by, #id_requester").autocomplete({
            source: function(request, response) {
                $.ajax({
                    url  : "{% url 'eProc_Archiving:docsearch' %}",
                    dataType: "json",
                    data: {
                        term : request.term,
                    },
                    success: function(data) {
                        response(data);
                    }
                });
            },
            min_length: 3,
        });
    });



</script>


{% endblock %}