<!--Search for documents template-->
{% extends 'root/base.html' %}
{% load static %}
{% block title %} Search Documents {% endblock %}

{% block maincontent %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
    h6{
        float:right;
        font-weight: normal;
        margin-right:25px;
    }
</style>

<!--Search page-->
<div class="container-fluid">
    <div class="mep-form_wrapper">
        <div class="d-flex justify-content-between">
            <h3>Search for Documents </h3>
        </div>
        <hr>

<!--Search form goes here-->
        <div class="card card-shadow-1">
            <div class="card-body">
                <div class="search-form">
                    <form method="POST" id="requisition_form" action="{% url 'eProc_Archiving:docsearch' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md" id="errorMessages">
                                {% if sform.errors %}
                                    {% for field in sform %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}

                                {% if sform.cleaned_data.from_date and sform.cleaned_data.to_date %}
                                    {% if sform.cleaned_data.from_date > sform.cleaned_data.to_date %}
                                        <div class="alert alert-danger" role="alert">
                                            'From Date' cannot be greater than 'To Date'
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            {% for field in sform %}
                            <div id="{{ field.name }}" class="sfield" title="{{ field.label }}">
                                <div class="col-md">
                                    {{ field.label_tag }} {{ field }}
                                    {% if field.label == 'Creator' %}
                                        <span id="err_empnum" class="error_message" hidden></span>
                                    {% endif %}
                                    {% if field.label == 'Requester' %}
                                        <span id="err_requester" class="error_message" hidden></span>
                                    {% endif %}
                                    {% if field.label == 'Enter supplier ID' %}
                                        <span id="err_supplier" class="error_message" hidden></span>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- From date and to date should be displayed in the same line -->
                            {% if forloop.counter == 3 or forloop.counter == 5 or forloop.counter == 6 %}
                            {% else %}
                            <br />
                            {% endif %}
                            {% endfor %}
                        </div>
                <br>
        <div class="elements-space-between">
            <div>
                <button id="clearFiltersButton" class="btn btn-link" type="button" onclick="clearFilters()">Clear filters</button>
                <button id="hg_doc_report_search" class="btn btn-primary" onclick="search_click()" type="submit" title="Please click to get the search details!">
                    <i class="fas fa-search"></i>Search
                </button>
            </div>
            <div>
                <span class="badge help-text-badge help-text-star-search"></span>
            </div>
        </div>
            </form>
        </div>
            </div></div>
        <br>

<!--Display no. of documents if count is greater than 0-->
{%if total_count > 0 %}
        <h6>Total number of results found :<b>{{total_number_results}}</b></h6>

<!--        <h2>{{ total_count }}</h2>-->
<div class="det_tbl_div search-div">
    {{ results }}
</div>

<!--Display the result-->
<div class="card mt-5">
    <table id="doc_list" class="table table_sort_filter_export_excel">
        <thead class="thead-light">
            <tr>
                {% if inp_doc_type == 'SC' %}
                <th scope="col">SC Number</th>
                <th scope="col">SC Name</th>
                <th scope="col">Total Value</th>
                <th scope="col">Currency</th>
                <th scope="col">Requester</th>
                <th scope="col">Status</th>
                <th scope="col">Created At</th>
                <th scope="col">Creator</th>
                <th scope="col">Changed At</th>
                <th scope="col">Changed By</th>
                <th scope="col">Ordered At</th>
                <th scope="col">Time Zone</th>
                {% endif%}
                {% if inp_doc_type == 'PO' %}
                <th scope="col">PO Number</th>
                <th scope="col">PO Name</th>
                <th scope="col">Total Value</th>
                <th scope="col">Currency</th>
                <th scope="col">Requester</th>
                <th scope="col">Status</th>
                <th scope="col">Created At</th>
                <th scope="col">Creator</th>
                <th scope="col">Changed At</th>
                <th scope="col">Changed By</th>
                <th scope="col">Ordered At</th>
                <th scope="col">Time Zone</th>
                <th scope="col">Supplier Id</th>
                {% endif %}
                {% if inp_doc_type == 'CONF' %}
                <th scope="col">Conf Number</th>
                <th scope="col">Conf Name</th>
                <th scope="col">Total Value</th>
                <th scope="col">Currency</th>
                <th scope="col">Requester</th>
                <th scope="col">Status</th>
                <th scope="col">Created At</th>
                <th scope="col">Creator</th>
                <th scope="col">Changed At</th>
                <th scope="col">Changed By</th>
                <th scope="col">Ordered At</th>
                <th scope="col">Time Zone</th>
                <th scope="col">Supplier Id</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for header_data in results %}
            <tr>
                {% if inp_doc_type == 'SC' %}
                <td><a href="{% url 'eProc_Archiving:doc_details' inp_doc_type header_data.guid  %}"
                        target="_blank">{{ header_data.doc_number }}</a></td>
                <td>{{header_data.description}}</td>
                <td>{{header_data.total_value}}</td>
                <td>{{header_data.currency}}</td>
                <td>{{header_data.requester}}</td>
                <td>{{header_data.status}}</td>
                <td>{{header_data.created_at}}</td>
                <td>{{header_data.created_by}}</td>
                <td>{{header_data.changed_at}}</td>
                <td>{{header_data.changed_by}}</td>
                <td>{{header_data.ordered_at}}</td>
                <td>{{header_data.time_zone}}</td>
                {% endif %}
                {% if inp_doc_type == 'PO' %}
                <td><a href="{% url 'eProc_Archiving:doc_details' inp_doc_type header_data.guid  %}"
                        target="_blank">{{ header_data.doc_number }}</a></td>
                <td>{{header_data.description}}</td>
                <td>{{header_data.total_value}}</td>
                <td>{{header_data.currency}}</td>
                <td>{{header_data.requester}}</td>
                <td>{{header_data.status}}</td>
                <td>{{header_data.created_at}}</td>
                <td>{{header_data.created_by}}</td>
                <td>{{header_data.changed_at}}</td>
                <td>{{header_data.changed_by}}</td>
                <td>{{header_data.ordered_at}}</td>
                <td>{{header_data.time_zone}}</td>
                <td>{{header_data.supplier_id}}</td>
                {% endif %}
                {% if inp_doc_type == 'CONF' %}
                <td><a href="{% url 'eProc_Archiving:doc_details' inp_doc_type header_data.guid  %}"
                        target="_blank">{{ header_data.doc_number }}</a></td>
                <td>{{header_data.description}}</td>
                <td>{{header_data.total_value}}</td>
                <td>{{header_data.currency}}</td>
                <td>{{header_data.requester}}</td>
                <td>{{header_data.status}}</td>
                <td>{{header_data.created_at}}</td>
                <td>{{header_data.created_by}}</td>
                <td>{{header_data.changed_at}}</td>
                <td>{{header_data.changed_by}}</td>
                <td>{{header_data.ordered_at}}</td>
                <td>{{header_data.time_zone}}</td>
                <td>{{header_data.supplier_id}}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

    </div></div>
{% elif total_count|length == 0 %}
<!--<div class="det_tbl_div search-div">-->
<!--    {{ results }}-->
<!--</div>-->
<h6>No Results Found</h6>
{% endif %}
<!--{% if total_count > 5 %}-->
<!--<div class="top"><a style="padding-right:30px;" href="#top"> Back to top </a></div>-->
{% endif %}


<div style="height:30px; font-size:12px; text-align:right; padding-right:10px;" >© 2022 Hiranya-Garbha Consultancy. All rights reserved.</div>

<!--Script to toggle supplier field in SC and PO-->
<script>

    function display_status(doc_type){
        if(doc_type == 'DOC01'){
            $("#sc_status_div").css("display", "block")
            $("#po_status_div").css("display", "none")
        }
        else if (doc_type == 'DOC02'){
            $("#po_status_div").css("display", "block")
            $("#sc_status_div").css("display", "none")
        }
    }
    docchanged("OBJ_01");
<!--    $("label[for='id_from_date']").text('From - To Date:');-->


//To show supplier field only for purchase order
function docchanged(value){
    var sup_field = document.getElementById("id_doc_type");
    if (sup_field.value == 'SC'){
        document.getElementById("supplier").value="";
        $('#supplier').hide();
    }
    else if (sup_field.value == 'PO' || sup_field.value == 'CONF'){
        document.getElementById("supplier").style.display="block";
    }
    if (sup_field.value == 'CONF'){
        document.getElementById("po_number").style.display="block";
    } else {
        document.getElementById("po_number").style.display="none";
    }
}

// To reset the from_date & to_date to today's date and other fields empty for SC and PO
var fromDateField = document.getElementById('id_from_date');
var toDateField = document.getElementById('id_to_date');
var docNumField = document.getElementById('id_doc_num');
var createdByField = document.getElementById('id_created_by');
var requesterField = document.getElementById('id_requester');
var docTypeField = document.getElementById('id_doc_type');

// Add an event listener to check for changes in the document type field
docTypeField.addEventListener('input', checkDocType);

function checkDocType() {
    var docTypeValue = docTypeField.value.trim().toUpperCase();

    // Check if document type is 'PO'
    if (docTypeValue === 'PO' || docTypeValue === 'SC' || docTypeValue === 'CONF') {
        // Reset the date fields to today's date
        var today = new Date();
        var year = today.getFullYear();
        var month = ('0' + (today.getMonth() + 1)).slice(-2);
        var day = ('0' + today.getDate()).slice(-2);
        var formattedDate = year + '-' + month + '-' + day;

        // Set the value of both fields to today's date
        fromDateField.value = formattedDate;
        toDateField.value = formattedDate;

        // Clear the values of other fields
        docNumField.value = '';
        createdByField.value = '';
        requesterField.value = '';
    }
}


// To get attachments
function get_attach(path){
$.ajax({
    type: 'POST',
        url: 'attachments',
        data: {
        'file_path':path,
        'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val(),
        },
        success: function (data) {
            $("#attach_col").empty();
            $("#attach_col").html(data);
        }
      });
}

// To get PO preview
function get_pdf(path) {
    var new_div = document.createElement('div');
    new_div.id = 'hide_' + no_of_hide;
    no_of_hide += 1;

    // Clone the content using cloneNode
    new_div.appendChild(document.getElementById('popdf_col').cloneNode(true));

    document.getElementById('up-hide-div').appendChild(new_div);

    $.ajax({
        type: 'POST',
        url: 'attachments',
        data: {
            'file_path': path,
            'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val(),
        },
        success: function (data) {
            console.log("AJAX Success:", data);
            // Clear the previous content
            $("#popdf_col").empty();

            // Replace content with the received data
            $("#popdf_col").html(data);
        }
    });
}


// creating the backlink for PO preview
function up_hide_div(){
    if(no_of_hide>0){
        no_of_hide-=1;
        $("#popdf_col").empty();
        var remdiv=document.getElementById('hide_'+no_of_hide);
        document.getElementById('popdf_col').appendChild(remdiv);
    }
}

$('.expand').click(function () {
    $('ul', $(this).parent()).eq(0).toggle();
});

var mini = true;
function toggleSidebar() {

    if (mini) {
        document.getElementById('menu_icon').style.display = 'none';
        document.getElementById('arrow_left_icon').style.display = 'block';
        $('span').removeClass('hide_span').addClass('display_span');
        document.getElementById("mySidebar").style.width = "240px";
        document.getElementById("main").style.marginLeft = "240px";
        this.mini = false;
    } else {
        document.getElementById('arrow_left_icon').style.display = 'none';
        $('span').removeClass('display_span').addClass('hide_span');
        document.getElementById('test').style.display = 'none'
        document.getElementById("mySidebar").style.width = "80px";
        document.getElementById("main").style.marginLeft = "80px";
        document.getElementById('menu_icon').style.display = 'block';
        this.mini = true;
    }
}

var is_expanded = false;
function expandTree() {
    if (is_expanded) {
        document.getElementById('test').style.display = 'block'
        this.is_expanded = false
        this.mini = false;
    } else {
        document.getElementById('test').style.display = 'none'
        this.is_expanded = true
        this.mini = true;
    }
}

    $(document).ready( function() {
        nav_bar_archiving()
        table_sort_filter_export_excel()
        $("#created_by, #id_requester").autocomplete({
            source: function(request, response) {
                $.ajax({
                    url  : "{% url 'eProc_Archiving:docsearch' %}",
                    dataType: "json",
                    data: {
                        term : request.term,
                    },
                    success: function(data) {
                        response(data);
                    }
                });
            },
            min_length: 3,
        });
    });

//*******************************************************
    document.addEventListener("DOMContentLoaded", function() {
        function formatDate(date) {
            const year = date.getFullYear();
            const month = String(date.getMonth() + 1).padStart(2, "0");
            const day = String(date.getDate()).padStart(2, "0");
            return `${year}-${month}-${day}`;
        }
    // Event listener for the "Clear filters" button
        $('#clearFiltersButton').click(function () {
            clearFilters();
            $('#requisition_form').submit();
        });

        // Function to clear filters
        function clearFilters() {
            const docTypeField = document.querySelector('select[name="doc_type"]');
            if (docTypeField) {
                docTypeField.selectedIndex = 0; // Reset to the first option
                sessionStorage.setItem("DOC_TYPE", docTypeField.value);
            }
            var storedDocType = sessionStorage.getItem("DOC_TYPE");
            if (storedDocType) {
                $('#id_doc_type').val(storedDocType);
            }
            const docNumField = document.querySelector('input[name="doc_num"]');
            if (docNumField) {
                docNumField.value = '';
            }
            const today = new Date();
            const fromDateField = document.querySelector('input[name="from_date"]');
            if (fromDateField) {
                fromDateField.value = formatDate(today);
            }
            const toDateField = document.querySelector('input[name="to_date"]');
            if (toDateField) {
                toDateField.value = formatDate(today);
            }
            const createdByField = document.querySelector('input[name="created_by"]');
            if (createdByField) {
                createdByField.value = '';
            }
            const requesterField = document.querySelector('input[name="requester"]');
            if (requesterField) {
                requesterField.value = '';
            }
            const companyCodeField = document.querySelector('select[name="company_code"]');
            if (companyCodeField) {
                companyCodeField.selectedIndex = 0; // Reset to the first option
                sessionStorage.setItem("COMPANY", companyCodeField.value);
            }
            var storedCompany = sessionStorage.getItem("COMPANY");
            if (storedCompany) {
                $('#id_company_code').val(storedCompany);
            }
            const supplierField = document.getElementById('id_supplier');
            if (supplierField) {
                supplierField.value = '';
                sessionStorage.removeItem("SUPPLIER");
            }
            toggleTableVisibility(true);
        }

        // Make the clearFilters function accessible in the global scope
        window.clearFilters = clearFilters;
            toggleTableVisibility(true); // Show the table initially

         //****************************
        function toggleSupplierField() {
            const docTypeField = $('#id_doc_type'); // Assuming "id_doc_type" is the ID of the Document Type field.
            const supplierField = $('#supplierField'); // The ID of the Supplier field container.
            if (docTypeField.val() === "PO") {
                supplierField.show();
            } else {
                supplierField.hide();
            }
        }

        // Add an event listener to the Document Type field to toggle Supplier field visibility
        const docTypeField = document.querySelector('select[name="doc_type"]');
        if (docTypeField) {
            docTypeField.addEventListener('change', function() {
                const selectedDocType = docTypeField.options[docTypeField.selectedIndex].value;
                const supplierField = document.getElementById('supplierField');
                const supplierNameElement = document.getElementById('supplierNameElement');
                if (selectedDocType === 'Purchase Order') {
                    supplierField.style.display = 'block';
                    supplierNameElement.style.display = 'none';
                } else {
                    supplierField.style.display = 'none';
                    supplierNameElement.style.display = 'none';
                }
            });
        }
    })

    // Function to toggle the visibility of the table and associated elements
    function toggleTableVisibility(showTable) {
        const docListTable = document.getElementById('doc_list');
        if (docListTable) {
            const pagination = docListTable.nextElementSibling; // Assuming pagination is a sibling element
            const searchResultCard = document.querySelector('.search_result_count_card');
            const headerDetailsCard = document.querySelector('.card.mt-5');
            if (showTable) {
                docListTable.style.display = 'table';
                if (pagination) {
                    pagination.style.display = 'block';
                }
                if (searchResultCard) {
                    searchResultCard.style.display = 'block';
                }
                if (headerDetailsCard) {
                    headerDetailsCard.style.display = 'block';
                }
            } else {
                docListTable.style.display = 'none';
                if (pagination) {
                    pagination.style.display = 'none';
                }
                if (searchResultCard) {
                    searchResultCard.style.display = 'none';
                }
                if (headerDetailsCard) {
                    headerDetailsCard.style.display = 'none';
                }
            }
        }
    }

    $('form').on('submit',function (e) {
        OpenLoaderPopup();
        var valid = true;
        var temp = document.getElementsByClassName('mandatory_fields');
        for (var i = 0; i<temp.length; i++) {
            if(!(temp[i].value == '') || !(temp[i].value == null)){
                data = temp[i].value;
                var count = data.split('**').length - 1;
                if((count >= 1) || (data == '*')){
                    var display_id = temp[i].nextElementSibling.id;
                    $('#'+display_id).prop('hidden', false);
                    document.getElementById(temp[i].nextElementSibling.id).innerHTML = "Please enter valid value";
                    valid = false;
                }
            }
        }
        if(!valid){
            localStorage.setItem("error_flag", 1);
            e.preventDefault();
            $("#err_username").prop("hidden", false);
                setTimeout(function() {
                       CloseLoaderPopup();
         }, 500);
        }
    });

    $("body").on("keypress blur change", ".mandatory_fields", function (event) {
         var get_value = event.currentTarget.value;
            var count = get_value.split('**').length - 1;
            if((count>=1)|| (get_value == '*'))
            {
            var display_id = event.currentTarget.nextElementSibling.id;
            $('#'+display_id).prop('hidden', false);
            document.getElementById(display_id).style.display = "block";
            event.currentTarget.nextElementSibling.innerHTML = "Please enter valid value";
            }
            else{
                $(".error_message").prop("hidden", true);
                document.getElementById(event.currentTarget.nextElementSibling.id).style.display = "true";
            }
    });

</script>


{% endblock %}