{% extends 'root/base.html' %}

{% block title %} Upload {% endblock %}

{% block maincontent %}

<style>
    h3{
        margin-top: 15px;
        margin-left: 15px;
        margin-bottom: 15px;
    }
</style>
<div id="attachments-2" class="item2 dummy_more_div_class card display-none" style="display: block;">

                            <h3>Upload Data</h3>

                        </div>
                        <div class="card mb-4 mr-2 ml-2 card-shadow-1">
                        <div class="card-body">
                            <div class="elements-space-between">
                                <div class="form-check form-check-inline hg_display add-attachment-section">
                                    <form class="form-group" method="post" enctype="multipart/form-data">
                                        <div id="attachment_error2" class="alert alert-danger" style="display: none;"></div>
                                            <div class="login-field txtbx" >
                                                <div>{%if messages%}
                                                {%for message in message.tags %}
                                                    <div>
                                                        <strong>{{message}}</strong>
                                                    </div>
                                                {%endfor%}
                                                {%else%}
                                                <div class="daup-error">{{error}}
                                                    <div style="color: red;"> {{response}}</div>
                                                    <div style="color: green;">{{response1}}</div>
                                                </div>
                                                <div style="font-weight:bold;">{{order}}</div>
                                                <p class="m-auto p-2">
                                                    {% csrf_token %}
                                                    <label>Upload a file :</label><br>
                                                    <input type="file" name="file">
                                                    <small class="form-text text-muted">Help text - only accepts CSV files</small><br>
                                                    <button class="btn btn-primary" type="submit" id="upload-attachment_data2" onclick="upload_attachments(this.id)" fdprocessedid="wght8j"><svg class="svg-inline--fa fa-upload fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="upload" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M296 384h-80c-13.3 0-24-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c12.6 12.6 3.7 34.1-14.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h136v8c0 30.9 25.1 56 56 56h80c30.9 0 56-25.1 56-56v-8h136c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z"></path></svg><!-- <i class="fas fa-upload"></i> --> upload</button>

                                                </p>
                                                {%endif%}
                                            </div>
                                        </div>
                                    </form>

                                </div>

                            </div>
                        </div>
                        </div>


<script>
    	$(document).ready( function() {
        nav_bar_archiving()
<!--        table_sort_filter_export_excel()-->
        $("#created_by, #id_requester").autocomplete({
            source: function(request, response) {
                $.ajax({
                    url  : "{% url 'eProc_Archiving:docsearch' %}",
                    dataType: "json",
                    data: {
                        term : request.term,
                    },
                    success: function(data) {
                        response(data);
                    }
                });
            },
            min_length: 3,
        });
    });
</script>

{% endblock %}